<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newspaper</title>
</head>
<body>
<div class="page">
<div class="row">
    <div class="column" style="background-color: antiquewhite">
        <h1>Image</h1>
        <img alt="image" src="{{url_for('static', filename=session.get('img_name'))}}" height="500px">
    </div>
    <div class="column">
        <h1>Réglages</h1>


    </div>
</div>
    </div>
</body>
</html>

<style>
    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }
    .page {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
</style>